1 VERSIONINFO
FILEVERSION     1,0,2,0
PRODUCTVERSION  1,0,2,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "ist76"
      VALUE "FileDescription", "Snake Party"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "snake2"
      VALUE "LegalCopyright", "ist76"
      VALUE "OriginalFilename", "snake2.exe"
      VALUE "ProductName", "Snake Party"
      VALUE "ProductVersion", "1.02"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1251
  END
END
